body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header{
    background-color: #003366;
    color: white;
    padding: 1rem;
    position: relative;
}
header h1 {
    text-align: center;
    margin: 1px;
}

main h1{
    text-align: center;
}

nav{
    display: none;
    flex-direction: column;
    
}


nav a {
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    border-top: 1px  #0059b3;
}

nav a:hover {
    background-color: #0059b3
}

nav.open { display: flex;}

#menu {
    background: none;
    border: none;
    font-size: 1.75rem;
    color: white;
    position:absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    
}

.temples-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

figure {
    text-align: center;
    background-color: white;
    padding: 0.5rem;
    border: 1px solid #ccc;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem;
    
}