body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav.navigator {
    display: none;
    flex-direction: column;
    background-color: #444;
}

nav.navigator a {
    color: white;
    padding: 0.5rem;
    text-decoration: none;
}

nav.navigator a:hover {
    background-color: #666;
}

#menu {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    display: block;
    margin: 0 auto;
}

.temples-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

figure {
    text-align: center;
}