:root{
    --primary-color: #1e3a8a;
    --accent-color: #EAB308;
    --background-color: #f9f9f9;
    --text-color: #1f2937;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--background-color);
    color: var(--text-color);
    
}

h1, h2{
    font-family: "Epunda Slab", serif;
}