body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 20px;
    background: lightgray;
}

header {
    
    text-align: center;
    padding: 10px 0;
    background: #4b006e;
    color: white;
    margin-bottom: 20px;
    text-shadow: black 1px 1px 3px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #4b006e;
    color: white;
    position: relative;
    bottom: 1;
    width: 100%;
    margin-top: 20px;
}

.section-title {
    font-weight: bold;
    border-bottom: 2px solid #4b0082;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
}

main {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #e0c3fc;
    color: #4b006e;
    font-weight: bold;
    text-shadow: 1px 1px 2px #e0c3fc;
}

fieldset { 
    border: none;
    padding: 0;
    margin: 1rem 0;
}

label {
    display: block;
    margin-top: 0.75rem;
}

legend{
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0;
    text-shadow: 1px 1px 2px #e0c3fc;
    color: #4b006e;
    letter-spacing: 1px;
    border-bottom: 2px solid #4b006e;
    display: block;
    width: 100%;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="radio"],
input[type="text"],
input[type="date"],
textarea, 
select {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
}

input[type="submit"] {
    display: block;
    margin-top: 2rem;
    padding: 0.75rem;
    background-color: rgb(91, 55, 197);
    color: white;
    border-radius: 0.5px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #8438d0;
}

.star-rating {
  display: flex;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 10px 0;
  position: relative;
}

.star-rating input {
  display: none;
}

.star-rating > label {
  width: 10px;
  height: 20px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;
}

.star-rating label:hover {
  color: rgb(73, 11, 159);
  transition: 0.2s ease;
}
.star-rating label:active::before {
  transform:scale(1.1);
}

.star-rating label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
}

.star-rating input:checked ~ label:before {
  content:'\2605';
}

@-moz-document url-prefix() {
  .star-rating input:checked ~ label:before {
  font-size: 36px;
  line-height: 21px;
  }
}  