@media (min-width: 700px) {
    
    .weather img {
        display: none;
    }

    .hero{ 
        position:relative
    }

    .info, .weather {
        background-color: var(--bg-color);
        padding: 1rem;
        border-radius: 0.75rem;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        max-width: 196px;
    }

    .info {
        position:absolute;
        bottom: 2rem;
        left: 2rem;
    }

    .weather {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .weather h2::after {
        content: "⛅";
        margin-left: 0.5rem;
    }

    header h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
}